body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.container {
    width: 70%;
    max-width: 800px;
    aspect-ratio: 1;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    border: 5px solid #21174A;
}

.buttons {
    margin-top: 20px;
}

button {
    display: inline-block;
    margin: 10px;
    border:none;
    border-radius: 3px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 1.5em;
    transition-duration: 0.3s;
    font-weight: 800;
    color: #DF0E62;
    background-color: #FAC70B;
}

button:last-child {
    background-color: #DF0E62;
    color: #FAC70B;
}

button:hover {
    background-color: #21174A;
    color:#fff;
}



.square {
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 1px solid #21174A;
    background-color: #fff;
}

.ini {
    width: 6.25%;
}

.active {
    background-color: #127681;
    transition: 0.15s;
}