body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

button {

}

.container {
    max-width: 700px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid #000;
}

.square {
    aspect-ratio: 1;
    width: 6.25%;
    height: 6.25%;
    box-sizing: border-box;
    border: 1px solid black;
}

.active {
    background-color: #3a3a3a;
    transition: 0.15s;
}